.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container > *{
  margin: 20px ;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.fare-card {
  justify-content: center;
  align-items: center;
  width: 180px;
  margin: 5px;
}

.fareCardImg {
  height: 250px;
}